<ion-header>
  <ion-toolbar>
    <ion-title>Reportes por Categoría</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="cargando" class="ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando datos...</p>
  </div>

  <ion-list *ngIf="!cargando && datos.length > 0">
    <ion-item *ngFor="let item of datos">
      <ion-label>
        <h2>{{ item.categoria }}</h2>
        <p *ngIf="totalReportes > 0">Participación: {{ calcularPorcentaje(item.cantidad) }}</p>
      </ion-label>
      <div slot="end" style="font-size: 1.8rem; font-weight: bold; color: var(--ion-color-primary);">
        {{ item.cantidad }}
      </div>
    </ion-item>


  </ion-list>

  <div *ngIf="!cargando && datos.length === 0" class="ion-text-center">
    <p>No hay datos disponibles.</p>
  </div>

</ion-content>