<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapa de Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<!-- categorias -->
<ion-item>
  <ion-label>Categorías</ion-label>
  <ion-select [(ngModel)]="categoriasSeleccionadas" multiple interface="popover" placeholder="Todas"
    (ionChange)="cargarReportes()">
    <ion-select-option *ngFor="let cat of todasCategorias" [value]="cat">{{ cat }}</ion-select-option>
  </ion-select>
</ion-item>

<!-- kilometros -->
<ion-item>
  <ion-label position="floating">Distancia (km)</ion-label>
  <ion-input type="number" [(ngModel)]="radioKmSeleccionado" (ionInput)="cargarReportes()"
    placeholder="Ej: 2"></ion-input>
</ion-item>

<!-- reiniciar filtros y cantidad de reportes -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="abrirModalGraficoCategorias()" size="small">
    <ion-icon name="pie-chart-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-button (click)="reiniciarFiltros()" size="small">
    <ion-icon name="refresh"></ion-icon>
  </ion-fab-button>
</ion-fab>



<ion-content fullscreen>
  <!-- spinner -->
  <ion-content fullscreen>
    <div *ngIf="cargandoMapa" class="overlay-spinner">
      <ion-spinner name="crescent" class="spinner-centro"></ion-spinner>
    </div>
    <div id="map"></div>
  </ion-content>

</ion-content>