<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapa de Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<!-- categorias -->
<ion-item>
  <ion-label>Categorías</ion-label>
  <ion-select
    [(ngModel)]="categoriasSeleccionadas"
    multiple
    interface="popover"
    placeholder="Todas"
    (ionChange)="cargarReportes()"
  >
    <ion-select-option *ngFor="let cat of todasCategorias" [value]="cat">{{ cat }}</ion-select-option>
  </ion-select>
</ion-item>


<ion-content fullscreen>
  <!-- spinner -->
  <ion-content fullscreen>
    <div *ngIf="cargandoMapa" class="overlay-spinner">
      <ion-spinner name="crescent" class="spinner-centro"></ion-spinner>
    </div>
    <div id="map"></div>
  </ion-content>

  <!-- mapa -->
  <capacitor-google-map id="map"></capacitor-google-map>
</ion-content>