/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

// html,
// body,
// ion-app,
// ion-content {
//   --background: transparent !important;
//   background: transparent;
// }


capacitor-google-map {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background: transparent !important;
}

capacitor-google-map#mini-map {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  z-index: 0;
  border-radius: 8px;
  overflow: hidden;
}

html,
body,
ion-app {
  background: transparent !important;
}

ion-content {
  --background: transparent !important;
  background: transparent !important;
}

ion-modal::part(backdrop) {
  background-color: rgba(0, 0, 0, 0.7); // más oscuro que el default
}

.reporte-detalle-modal::part(content) {
  --background: #2c2c2c;
  --color: #ffffff;

  width: 95%;
  max-width: 480px;
  max-height: 85vh;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow-y: auto;
  padding: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}
