<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>La franci huele a peitop</strong>
    <p>y la lily tbn <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">y a veces la gruñis</a></p>
  </div>
</ion-content>
